# ==============================
# Backend Python packages
# Install with:
#   python -m pip install -r requirements.txt
# ==============================

fastapi
uvicorn[standard]
sqlmodel
sqlalchemy
pydantic
python-dotenv
apscheduler
python-multipart
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
email-validator
dateparser
typing-extensions
python-dateutil



